cxf/src/main/resources/greeting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012 Carman Consulting, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions name="HelloWorld" targetNamespace="http://ws.carmanconsulting.com/smx/greeting"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://ws.carmanconsulting.com/smx/greeting"
                  xmlns:x1="http://schema.carmanconsulting.com/smx/greeting"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="http://schema.carmanconsulting.com/smx/greeting"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://schema.carmanconsulting.com/smx/greeting"
                elementFormDefault="qualified">
            <element name="GreetRequest">
                <complexType>
                    <sequence>
                        <element name="name" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="GreetResponse">
                <complexType>
                    <sequence>
                        <element name="greeting" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="GreetRequest">
        <wsdl:part element="x1:GreetRequest" name="in"/>
    </wsdl:message>
    <wsdl:message name="GreetResponse">
        <wsdl:part element="x1:GreetResponse" name="out"/>
    </wsdl:message>

    <wsdl:portType name="Greeter">
        <wsdl:operation name="greet">
            <wsdl:input message="tns:GreetRequest" name="greetMeRequest"/>
            <wsdl:output message="tns:GreetResponse" name="greetMeResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Greeter_SOAPBinding" type="tns:Greeter">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="greet">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="greetMeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="greetMeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="SOAPService">
        <wsdl:port binding="tns:Greeter_SOAPBinding" name="SoapOverHttp">
            <soap:address location="http://localhost:9000/SoapContext/SoapPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

